services:
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: Haselko14

    #Interfejs bazy danych
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080